.accordion-container {
    max-width: 500px;
    margin: 0 auto ;
    padding: 5px;
    display: inline-block
  }

  .accordion-container h3 {
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   
  }
  
  .accordion-item {
    margin-bottom: 3px;

  }

  .accordion-item:hover h3{
    text-decoration: underline;
  }
  
  .accordion-header {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    text-align: center;
    padding: 32px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .accordion-header:hover {
    background: none;
  
   
  }
  
  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.3s ease;
    padding: 0px 16px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 16px;
    
   
    
  }

  .accordion-content img{
    width: 40%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(225, 224, 224, 0.1);
  }

  .accordion-content img:hover{
    transform: scale(1.05);
  }
  .accordion-toggle:checked + .accordion-header + .accordion-content {
    max-height: 1000vh;
    padding: 16px;
  }

  .accordion-content p{
    color:white;
  }
  
  .accordion-content.open {
    max-height: 500px; 
    padding: 16px;
  }
  
  .arrow {
    
    color: white;
    font-size: 24px;
    transition: transform 0.3s ease;
  }
  .accordion-toggle:checked + .accordion-header .arrow {
    transform: rotate(180deg);
  }

  @media screen and (max-width: 768px) {
    .accordion-header {
      font-size: 20px;
      padding: 20px;
    }
  
    .accordion-content {
      grid-template-columns: 1fr; /* Stack images vertically */
      padding: 8px;
    }
  
    .accordion-content img {
      width: 100%;
    }
  
    .accordion-container {
      padding: 10px;
      max-width: 100%;
    }
  }


  