.accordion-container {
       max-width: 500px;
    margin: 0 auto;
    padding: 5px;
    display: flex; /* Use flexbox for block-level children */
    flex-direction: column;
   
    align-items: center; /* Centers children horizontally */

  }

  .accordion-container h3 {
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   
  }
  
  .accordion-item {
    margin-bottom: 4px;
   

  }

  .accordion-item:hover h3{
    text-decoration: underline;
    
  }
  
  .accordion-header {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    text-align: center;
    padding: 32px;
    font-size: 24px;
    font-weight: bold;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .accordion-header:hover {
    background: none;
  }
  
  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.3s ease;
    padding: 0px 32px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    gap: 16px;
   

  }

  #photography {
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
   
  }



  .accordion-content img{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    scroll-snap-align: center;
    width: 160px;
    height: 200px;
    background-color: black;
    border: 1px solid #333;
    border-radius: 0;
    align-items: center;
    position: relative;
  }

  .accordion-content img:hover{
    transform: scale(1.05);
  }
  .accordion-toggle:checked + .accordion-header + .accordion-content {
    max-height: 1000vh;
    padding: 16px;
     width: fit-content; /* Expands to fit content, but can grow */
    min-width: 100%;  
    overflow-x: auto;
  }

  .accordion-content p{
    color:white;
  }
  
  .accordion-content.open {
    max-height: 500px; 
    padding: 16px;
    
  }
  


  #lightbox{
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
    
}

#lightbox.active{
    display: flex;
    justify-content: center;
    align-items: center;
}

  @media screen and (max-width: 768px) {
    .accordion-header {
      font-size: 20px;
      padding: 20px;
    }
  
    .accordion-content {
      grid-template-columns: 1fr; /* Stack images vertically */
      padding: 8px;
    }
  
    .accordion-content img {
      width: 100%;
    }
  
    .accordion-container {
      padding: 10px;
      max-width: 100%;
    }
  }


  