body {
background-color: black;


}

#CollapsingMenu{
    color:white;
    margin-top: 20px;
    cursor: pointer;
    font-size: 30px;
    margin-left: 10px;
}

.NavBar{
    position:fixed;
    right: -100%;
    text-decoration: none;
}

.NavBar a{
    text-decoration: none;
}

.NavBar a:hover {
text-transform: uppercase;
}

.Home:hover{
    color: rgba(0,175,102,255);
}
#check:checked~ .NavBar{
    right: 0%;
    position: relative;
  
}

#check:checked ~ .TitleOfPage{
    display: none;
}

#check:checked ~ #CollapsingMenu{
    display:none;
}

.closeNavBar {
    position: relative;
    top: 20px;
    right: 30px;
    font-size: 50px;
    color: white;
    cursor: pointer;
  }
body h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body h4{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body h5{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body p{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}