h1{

   
    font-size: 36px;
    color: pink;
}



p{
    font-size: 18px;
    color:blue;
}

ul{
    color: orange;
    list-style-type: square;
}

.navlinks{
    list-style-type: none;
    background-color: black

}

.navlinks :hover{
    color:blueviolet
}

