
.ImageContainer {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
  padding: 2rem;
  margin: 2rem 0;
  }

    .Image {
  background-color: #111;
  padding: 1rem;
  border-radius: 10px;
  color: white;
  transition: transform 0.3s ease;
}

.Image img {
 width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
  
  }



  .Image:hover{
    transform: scale(1.05);
    cursor: pointer;
  }

  .Image p{
 margin: 0.5rem 0;
  font-size: 0.95rem;
  line-height: 1.5;
  }

  .Image a {
    text-decoration: none;
  }

  .Image p a{
    text-decoration: none;
    color: white;
  }

  .Image p a:hover{
    text-decoration: underline;
  }

.Image a, .Image p:hover{
 text-decoration: underline;
}

.Image:hover{
  border-radius: 10px;
    box-shadow: 0 4px 8px rgba(254, 254, 254, 0.583);
}


  

  @media screen and (max-width: 768px) {
    .ImageContainer {
      grid-template-columns: 1fr;
      gap: 32px;
      padding: 32px 16px;
    }
  
    .Image img {
      width: 100%;
      height: auto;
      margin-right: 0;
    }
  
    .Image p {
      font-size: 16px;
      padding-top: 4px;
      margin-top: 4px;
      text-align: center;
    }
  
    .Image {
      text-align: center;
    }
  }