
nav ul li a{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color:white;
}


.container  {
     
    background-color: #000;
    color: #fff;
    border: 1px solid #333;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

.container h2, .container p{
  text-decoration: none;
}
.container:hover{
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(254, 254, 254, 0.583);
}

#caption{
  text-decoration: none;
}


.Blogs{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    padding: 30px;
}

.blogContainer nav ul {
  text-decoration: none;
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.Thumbnail{
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 1rem;
}



.p-summary {
    font-size: 0.9rem;
    line-height: 1.4;
    color: #ccc;
  }

.BlogText h2:hover{
text-decoration: underline;
}

.BlogText h2{
    font-size: 1.2rem;
  margin: 0.5rem 0;
} 

@media screen and (max-width: 768px) {
    .blogContainer {
      flex-direction: column;
      align-items: center;
    }
  
    .container {
      width: 70%;
      margin-left: 150px;
    }
  }

