.blogText{
    padding: center;
    text-align: center;
    background-color: black;
    color: white;
}
body{
    background-color: black;
}

.headerImage{
    padding: center;
    text-align: center;
    
}


.firstParagraph p{
    font-family: 'Times New Roman', Times, serif;
}
.firstParagraph h3{
    font-family: Arial, Helvetica, sans-serif;
}
.divider{
    border: none;
    border-top: 1px solid #ccc; 
    margin: 2rem 0;             
    width: 100%;   
}

.firstParagraph {
    max-width: 400px; 
    line-height: 1.6;
    margin: 20px;
    margin-left: 590px;
   
    
}

.firstParagraph p{
    text-align: left;

}


.secondParagraph {
    max-width: 500px; 
    line-height: 1.6;
    margin: 20px 0px;
    margin-left: 540px;
   
}
.secondParagraph p{
    text-align: left;

}

.secondParagraph h3{
    font-family: Arial, Helvetica, sans-serif;
}

.thirdParagraph{
    max-width: 400px;
    line-height: 1.6;
    margin: 20px 0px;
    margin-left: 590px;
}

.thirdParagraph p{
    text-align: left;

}

.thirdParagraph h3{
    font-family: Arial, Helvetica, sans-serif;
}

